<header>

  <div class="logo">
    <h1>マーラータンジェネレーター</h1>
  </div>

</header>

<body>

    <%= form_with url: search_path, local: true, method: :get do |f| %>

    <h2 style="color:#F68655 ">スープ</h2>
      <% @soup.each do |soup| %>
        <ul>
          <li> 
            <%= f.check_box 'syokuzais[][name]', { multiple: false }, soup.name %>
            <%= f.label :syokuzai.name, soup.name %> 
            <%= f.collection_select 'syokuzais[][suuryou]', Suuryou.all, :suuryou, :suuryou, selected: 0 %>
          </li>
        </ul>
      <% end %>

      <br>

      <h2 style="color:#61C359" >野菜</h2>
      <% @yasai.each do |yasai| %>
        <ul>
          <li> 
            <%= f.check_box 'syokuzais[][name]', { multiple: false }, yasai.name %>
            <%= f.label :syokuzai.name, yasai.name %> 
            <%= f.collection_select 'syokuzais[][suuryou]', Suuryou.all, :suuryou, :suuryou, selected: 0  %>
          </li>
        </ul>
      <% end %>

      <br>

      <h2 style="color:#FEEABC">麺</h2>
      <% @men.each do |men| %>
        <ul>
          <li> 
            <%= f.check_box 'syokuzais[][name]', { multiple: false }, men.name %>
            <%= f.label :syokuzai.name, men.name %> 
            <%= f.collection_select 'syokuzais[][suuryou]', Suuryou.all, :suuryou, :suuryou, selected: 0  %>
          </li>
        </ul>
      <% end %>

      <br>

      <h2 style="color:#F6B352">練り物</h2>
      <% @nerimono.each do |nerimono| %>
        <ul>
          <li> 
            <%= f.check_box 'syokuzais[][name]', { multiple: false }, nerimono.name %>
            <%= f.label :syokuzai.name, nerimono.name %>
            <%= f.collection_select 'syokuzais[][suuryou]', Suuryou.all, :suuryou, :suuryou, selected: 0  %> 
          </li>
        </ul>
      <% end %>

      <br>

      <h2 style="color:#F68655">肉</h2>
      <% @niku.each do |niku| %>
        <ul>
          <li> 
            <%= f.check_box 'syokuzais[][name]', { multiple: false }, niku.name %>
            <%= f.label :syokuzai.name, niku.name %> 
            <%= f.collection_select 'syokuzais[][suuryou]', Suuryou.all, :suuryou, :suuryou, selected: 0  %>
          </li>
        </ul>
      <% end %>

      <br>

      <h2 style="color:#4790bb">魚介</h2>
      <% @sakana.each do |sakana| %>
        <ul>
          <li> 
            <%= f.check_box 'syokuzais[][name]', { multiple: false }, sakana.name %>
            <%= f.label :syokuzai.name, sakana.name %> 
            <%= f.collection_select 'syokuzais[][suuryou]', Suuryou.all, :suuryou, :suuryou, selected: 0  %>
          </li>
        </ul>
      <% end %>

      <br>

      <h2 style="color:#757575">その他</h2>
      <% @sonota.each do |sonota| %>
        <ul>
          <li> 
            <%= f.check_box 'syokuzais[][name]', { multiple: false }, sonota.name %>
            <%= f.label :syokuzai.name, sonota.name %> 
            <%= f.collection_select 'syokuzais[][suuryou]', Suuryou.all, :suuryou, :suuryou, selected: 0  %>
          </li>
        </ul>
      <% end %>

      <br>

      <%= f.submit "煮込む", class: "btn-top-radius" %>
    <% end %>

</body>