<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="一緒に最高のマーラータンを生み出しましょう">
  <title>マーラータンジェネレーター</title>
  <%= stylesheet_link_tag "malatan", "data-turbo-track": "reload" %>
</head>

<body class="malatan-body">
  <header>
    <div class="logo">
      <h1>マーラータンジェネレーター</h1>
    </div>
  </header>

  <div id="result-capture">
  <div class="section">
    <h2 class="section-title">選んだ食材</h2>
    <table class="syokuzai-table">
      <thead>
        <tr>
          <th>名前</th>
          <th>重さ（g）</th>
          <th>個数</th>
          <th>合計重さ（g）</th>
          <th>合計カロリー（kcal）</th>
        </tr>
      </thead>
      <tbody>
        <% goukeichi = 0.0 %>
        <% calorie = 0.0 %>

        <% @syokuzai.each do |syokuzai| %>
          <% matched = @suuryous.find { |s| s["name"] == syokuzai.name } || {} %>
          <% suuryou = matched["suuryou"].to_i %>
          <% total_weight = syokuzai.weight * suuryou %>
          <% goukeichi += total_weight %>
          <% total_calorie = syokuzai.calorie * suuryou %>
          <% calorie += syokuzai.calorie * suuryou %>
          <tr>
            <td><%= syokuzai.name %></td>
            <td><%= syokuzai.weight %></td>
            <td><%= suuryou %></td>
            <td><%= total_weight %></td>
            <td><%= total_calorie %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="section">
    <h2 class="section-title">重さ</h2>
    <p><%= goukeichi %> グラム</p>
  </div>

  <div class="section">
    <h2 class="section-title">値段</h2>
    <% dish_weight = 150 %>
    <% nedan = (goukeichi + dish_weight) / 100 * 400 %>
    <p><%= nedan.round(2) %> 円</p>
    <small>※器の重さ<%= dish_weight %>グラムを加算しています</small>
  </div>

  <div class="section">
    <h2 class="section-title">カロリー</h2>
    <p>選んだ具材のカロリー: <%= calorie %> キロカロリー</p>
    <p>サービス麺(80グラム)を追加した場合: <%= calorie + 300 %> キロカロリー</p>
  </div>
</div>
  <%= link_to "戻る", root_path, class: "btn-top-radius" %>

  <button onclick="saveAsImage()" class="save-image-btn">レシピを保存</button>

<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
<script>
  function saveAsImage() {
    const target = document.getElementById("result-capture");
    html2canvas(target).then(canvas => {
      const link = document.createElement("a");
      link.download = "malatan_result.png";
      link.href = canvas.toDataURL("image/png");
      link.click();
    });
  }
</script>


</body>
