<header>

  <div class="logo">
    <h1>マーラータンジェネレーター　めしあがれ</h1>
  </div>

</header>

<body>

  <tbody>
      <% goukeichi = 0.0 %>
      <% nedan = 0.0 %>
      <% calorie = 0.0 %>

      <h2 style="color:#F68655">選んだ食材</h2>

      <% @syokuzai.each do |syokuzai| %>
        <ul>

          <% suuryou = @suuryous.find {|suuryous| suuryous[:name] == syokuzai.name}&.dig("suuryou")&.to_i %>

          <li><%= syokuzai.name %>　<%= syokuzai.weight %>グラム　×<%= suuryou %>個　=　<%= syokuzai.weight * suuryou %>グラム</li>
          <% goukeichi += syokuzai.weight * suuryou %>
          <% calorie += syokuzai.calorie * suuryou %>
        </ul>
      <% end %>

      <br>

      <h2 style="color:#F68655">重さ</h2>
      <%= goukeichi %> グラム

      <br>

      <h2 style="color:#F68655">値段</h2>
      <% nedan = goukeichi /100 *400 %>
      <%= nedan %> 円

      <br>

      <h2 style="color:#F68655">カロリー</h2>
      <%= calorie %> キロカロリー

      <br>

      <%= link_to "Back", root_path %>

</body>